# Chapter No.6

## Example1

In [1]:
#we can't apply mathematical operations on differant types of data
name = input('Enter:')

Enter:CHUNKS

In [4]:
print(name)

CHUNKS

In [6]:
apple = input('Enter:')

Enter:100

In [7]:
x=apple-10

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [9]:
#for this operarion you must change the type 
x=int(apple)- 10
print(x)

90

## Example2

In [11]:
#looking inside strings
fruit = 'banana'
letter = fruit[1]
print(letter)

a

In [12]:
x = 3
w = fruit[x - 1]
print(w)

n

## Example3

In [13]:
#len function
fruit = 'banana'
x = len(fruit)
print(x)

6

## Example4

In [15]:
#looping through strings
fruit = 'banana'
index = 0
while index < len(fruit): 
    letter = fruit[index]
    print(index, letter)
    index = index + 1

0 b
1 a
2 n
3 a
4 n
5 a

## Example5

In [16]:
fruit = 'banana'
for letter in fruit: 
    print(letter)

b
a
n
a
n
a

## Example6

In [17]:
#counting and looping
word = 'banana'
count = 0
for letter in word :
    if letter == 'a' :
        count = count + 1
print(count)

3

## Example7

In [26]:
#slicing strings
a ='eman mehmood'
print(a[3:7])

n me

## Example8

In [28]:
#string concatination
a='eman'
b=a+" "+'mehmood'
print(b)

eman mehmood

## Example9

In [32]:
#using in as a logical operator
f="eman"
'n' in f

True

In [33]:
'r' in f

False

## Example10

In [34]:
#string comparison
if word == 'banana':
    print('All right, bananas.')
if word < 'banana':
    print('Your word,' + word + ', comes before banana.')
elif word > 'banana':
    print('Your word,' + word + ', comes after banana.')
else:
    print('All right, bananas.')

All right, bananas.
All right, bananas.

## Example11

In [35]:
#string library
greet = 'Hello Bob'
zap = greet.lower()
print(zap)

print(greet)

print('Hi There'.lower())

hello bob
Hello Bob
hi there

## Example12

In [36]:
#searching for string
fruit = 'banana'
pos = fruit.find('na')
print(pos)
aa = fruit.find('z')
print(aa)

2
-1

## Example13

In [37]:
#search and replace
greet = 'Hello Bob'
nstr = greet.replace('Bob','Jane')
print(nstr)

nstr = greet.replace('o','X')
print(nstr)

Hello Jane
HellX BXb

## Example14

In [39]:
#striping whitespace
greet = ' Hello Bob '
greet.lstrip()

'Hello Bob '

In [40]:
greet.rstrip()

' Hello Bob'

In [41]:
greet.strip()

'Hello Bob'

## Example15

In [42]:
#parsing and extracting
data = 'From stephen.marquard@uct.ac.za Sat Jan 5 09:14:16 2008'
atpos = data.find('@')
print(atpos)
sppos = data.find(' ',atpos)
print(sppos)

host = data[atpos+1 : sppos]
print(host)

21
31
uct.ac.za